<div class="container">
        <h1>Player details</h1> 
        
        <div>
            <strong>ID:</strong>
            <p>{{ adat.id }}</p>
        </div>
    
        <div>
            <strong>First name:</strong>
            <p>{{ adat.first_name }}</p>
        </div>
    
        <div>
            <strong>Last name:</strong>
            <p>{{ adat.last_name }}</p>
        </div>

        <div>
            <strong>Position:</strong>
            <p>{{ adat.position }}</p>
        </div>
        <button  class="btn btn-danger" routerLink="/list">Back</button>
</div>